<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Contact Us</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <h1>Contact Us</h1>
            <p>If you have any questions, please don't hesitate to reach out to us.</p>
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Your_Name:</label>
                    {{form.Name}}
                </div>

                <div class="form-group">
                    <label for="id_email">Your_Email:</label>
                    {{form.Email}}
                </div>
                <div class="form-group">
                    <label for="id_message">Your_Message:</label>
                    {{form.Message}}
                </div>
                <input type="submit" value="Send Message" class="submit-btn">
            </form>
            <div class="contact-info">
                <h2> Ways to Contact Us</h2>
                <p><strong>Email:</strong> saurumane7032@gmail.com</p>
                <p><strong>Phone:</strong> +91 7768902811</p>
                <p><strong>Address:</strong> Signum Bldg, Hinjewadi phase 1</p>
            </div>
        </div>
    </div>
</body>
</html>
