<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Mumbai</div>
          <div class="text-two">Maharashtra,India </div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 7768902811</div>
          <div class="text-two">+91 8888888888</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">saurumane7032@gmail.com</div>
          <div class="text-two">notavail@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p> Message_Us, We are here to help you</p>
          <p></p>
          <p></p>
      <form method="POST" class="test">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Your_Name:</label>
                    {{test.Name}}
                </div>

                <div class="form-group">
                    <label for="id_email">Your_Email:</label>
                    {{test.Email}}
                </div>
                <div class="form-group">
                    <label for="id_message">Your_Message:</label>
                    {{test.Message}}
                </div>
        <div class="button">
                <div class="button-container">
                    <input type="submit" value="Send Now" class="submit-button">

                    <a href="/" class="styled-link">Previous Page</a>
               </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>